* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: #f7f9fd;
}

.start-quiz-con {
    display: flex;
    padding: 1.2em 1em; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.start-quiz-con button {
    font-size: 1em;
    background-color: #587ef4;
    color: #f7f9fd;
    padding: 0.8em 1.2em;
    font-weight: 500;
    border-radius: 0.4em;

}

.question-container {
    width: 90vw;
    max-width: 34em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 3em 2em;
    border-radius: 0.6em;
    box-shadow: 0 1em 2em rgba(28, 0, 80, 0.1);
}

#question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

#response {
    text-align: center;
    margin: 20px 0;
}

#result {
    text-align: center;
    margin: 20px 0;
}

#close-button{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1em;
    background-color: #ffffff;
    color: #587ef4;
    padding: 0.3em 0.3em;
    border-radius: 0.1em;
    font-weight: 500; 
}

#back-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1em;
    background-color: #ffffff;
    color: #587ef4;
    padding: 0.3em 0.3em;
    border-radius: 0.1em;
    font-weight: 500; 
}

#next-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1em;
    background-color: #ffffff;
    color: #587ef4;
    padding: 0.3em 0.3em;
    border-radius: 0.1em;
    font-weight: 500;
}
.add-flashcard-con {
    display: flex;
    padding: 1.2em 1em;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.add-flashcard-con button {
    font-size: 1em;
    background-color: #587ef4;
    color: #ffffff;
    padding: 0.8em 1.2em;
    font-weight: 500;
    border-radius: 0.4em;
}

#card-con {
    border: 1px solid black;
}

.new-flashcard-con {
    width: 90vw;
    max-width: 34em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em 2em;
    border-radius: 0.6em;
    box-shadow: 0 1em 2em rgba(28, 0, 80, 0.1);
}


.new-flashcard-con h2 {
    font-size: 2.2em;
    color: #363d55;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
}


.wrapper {
    display: grid;
    grid-template-columns: 11fr 1fr;
    gap: 1em;
    margin-bottom: 1em;
}

.error-con {
    align-self: center;
}

#card-error {
    color: #ff5353;
    font-weight: 400
}

.fa-xmark {
    font-size: 1.4em;
    height: 1.8em;
    width: 1.8em;
    display: grid;
    place-items: center;
    color:#363d55;
    border-radius: 50%;
    cursor: pointer;
    justify-self: flex-end;
    align-items: center;
}

label {
    color: #363d55;
    font-weight: 600;
    margin-bottom: 0.3em;
}

textarea {
    width: 100%;
    padding: 0.7em 0.5em;
    border: 1px solid #d0d0d0;
    color: #414a67;
    border-radius: 0.3em;
    resize: none;
}

textarea:not(:last-child) {
    margin-bottom: 1.2em;
}

textarea:focus {
    border-color: #363d55;
}

#save-button {
    font-size: 1em;
    background-color: #587ef4;
    color: #ffffff;
    padding: 0.6em 0;
    border-radius: 0.3em;
    font-weight: 600;
}

.view-cards-con {
    display: flex;
    padding: 1.2em 1em;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.view-cards-con button {
    font-size: 1em;
    background-color: #587ef4;
    color: #ffffff;
    padding: 0.8em 1.2em;
    font-weight: 500;
    border-radius: 0.4em;
}

.flashcards-list {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
}

.flashcard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu {
    font-size: 1em;
    background-color: #587ef4;
    color: #ffffff;
    padding: 0.6em 1.0em;
    font-weight: 500;
    border-radius: 0.4em; 
}


